@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #24252A;*/
}
body{
    background-image: url(./images/wp8656100-f1-2021-wallpapers.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: none;
}
li,a,button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header .logo{
     height: 150px;
     width: 500px;
     margin-top: 8%;
}
.logo{
    color:red;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
    transition: 0.4s ease;
}
header .logo:hover{
    color: rgb(245, 255, 47);
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-top: -7%;
    height: 300px;;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: red;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}